#titleContent{
	font-family: "Lora";
    text-align: center;
	margin: 20px 0;
    font-size: 32px;
    font-weight: 700;
	color:#fff
}

/*@font-face {
  font-family: 'Comic Sans MS';
  src: url("../images/comic.ttf");
}*/
table
{
	width:670px;
}
th
{
	height:50px;
}
#scores
{
	font-family: 'Comic Sans MS';
	color:"pink";
}
#ticker
{
	font-family: 'Comic Sans MS';
	color:"magenta";
}
/*#updates
{
    float: left;
    padding: 15px;
	font-family: 'Comic Sans MS';
}*/
.left-update
{
/*	margin-top: 20px;*/
    float: left;
    padding: 15px;
	font-family: 'Comic Sans MS';
	clear:both;
/*	display:block;*/
}
.team-update
{
	margin-top: -10px;
    float: left;
    padding: 15px;
	font-family: 'Comic Sans MS';
	height:75px;
	width:100px;
		text-align:right;
/*		clear:both;*/
/*	display:block;*/
}
.inning-update
{
	margin-top: -10px;
    float: left;
    padding: 15px;
	font-family: 'Comic Sans MS';
	height:75px;
	line-height:75px;
	width:100px;
		text-align:right;
		    font-size:28px;
				vertical-align:middle;
/*		clear:both;*/
/*	display:block;*/
}
.inning-update img
{
	width:25px;
	height:auto;
	vertical-align:middle;
	padding:10px;
}
.team-update img
{
/*	float:left*/
/*	vertical-align:middle;*/
	height:30px;
	width:30px;
	padding:5px;

}
.teamimg
{
	vertical-align:middle;
	float:left;
	clear:both;
	height:40px;
	width:40px;
}
.teamScore
{
	float:right;
	text-align:right;
	height:40px;
	line-height:40px;
	width:40px;
	vertical-align:middle;
}
.img-update
{

    float: left;
    padding: 15px;
	font-family: 'Comic Sans MS';
		clear:both;
/*	display:block;*/
}
.right-update
{
	margin-top:-5px;
    float: left;
    padding: 15px;
	font-family: 'Comic Sans MS';
	width : 150px;
/*	clear:both;*/
/*	display:block;*/
}
table.sample {
/*	width: 80%;*/
	margin:auto;
	border-width: 5px;
	border-spacing: 2px;
	border-style: outset;
	border-color: gold;
	border-collapse: separate;
	font-family: 'Comic Sans MS';
	background: blue url(https://anlucas.neocities.org/bluetexture.gif) repeat
}
table.sample td {
	border-width: 1px;
	padding: 1px;
	border-style: inset;
	border-color: gold;
	font-family: 'Comic Sans MS';
	background: blue url(https://anlucas.neocities.org/bluetexture.gif) repeat
	-moz-border-radius: ;
}

.squid .floaty {
    display: revert;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
    -webkit-animation-name: floaty-ticket;
    animation-name: floaty-ticket;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    font-size:90vh;
    line-height:0;
    position:relative;
    height:100%;
    height: 100vh;
    max-height: 68vh;
}
@-webkit-keyframes floaty-ticket {
    0% {
        transform: translateY(10px);
    }
}

@keyframes floaty-ticket {
    0% {
        transform: translateY(10px);
    }
}
.squid	.text {
    color: rgb(89, 136, 255);
    text-shadow:0 0 20px #5988ff;
    font-size:32px;
	font-family:"Lora","Courier New",monospace,serif;
	font-weight:700;
}
.coin .text{
  color: #ffbe00;
  line-height: 1.2em;
  font-size: 32px;
  font-family:"Lora","Courier New",monospace,serif;
  font-weight:700;
}
.links{
    background-color: lightgrey;
}
div.horizontalgap {
  float: left;
  overflow: hidden;
  height: 1px;
  width: 0px;
}
.blaseWrapper {
	width: 30%;
	margin: 0 auto; 
}
tickertab
{
    display: inline-block;
    margin-left: 50%;
}
.spot
{
	width:20px;
	height:auto;
}